<form action="/posts/<%= @post.id%>/update" method="post">
  <label>User ID</label>
  <input type="text" name="post[name]" value="<%= @post.user_id  %>">
  <br>

  <label>Text</label>
  <input type="text" name="post[lastname]" value="<%= @post.text  %>">
  <br>

  <br>
  <input type="submit" value="Save" name="action">

</form>